/* You can add global styles to this file, and also import other style files */
.full-screen-container {
        height: 100vh; 
        margin: 0;
        }

        @media (max-width: 768px) {
        .container {
            width: 100%; 
        }
        }

.tag{
    padding: 0.1rem 0.5rem;
    width: fit-content;
    font-size: clamp(0.1rem, 1vw, 0.7rem);
    line-height: 1.2rem;
    border-radius: 30px;
    background-color: blue;
    color: white;
    white-space: nowrap;
}

body {
  margin: 0;
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #020617 30%,
    #0f172a 60%,
    #020617 100%
  );
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; 
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}